@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Noto Sans KR', sans-serif;
	/* font-family: 'Roboto', sans-serif; */
	/* font-family: 'Nanum Gothic', sans-serif; */
	/* font-family: 'Noto Sans', sans-serif; */
	/* font-family: 'Nanum Myeongjo', serif; */
	/* font-family: 'Open Sans', sans-serif; */
	/* font-family: 'Stylish', sans-serif; */
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:visited{
	text-decoration: none;
}
#wrap a:active{
	text-decoration: #000;
}
.hidden {
    position: absolute;
    left: -1000px;
    top: 0;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #fff
}
.clear {
	display: block;
	clear:both;
	content:'';
}
* {
	color: #000;
}

/* -----------------------skipNav----------------------- */
#skip_nav {
	position: relative;
	width: 100%;
	overflow: hidden;
}
#skip_nav a {
	display: block;
	height: 1px;
	margin-bottom: -1px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	color: #333;
	font-size: 12px;
}
#skip_nav a:hover,
#skip_nav a:focus,
#skip_nav a:active {
	display: block;
	height: auto;
	padding: 5px 0;
	background: #f2f2f2;
}
/*-----------------------layout-----------------------*/

#wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
}

#header {
	position: fixed;
	width: 100%;
	height: 73px;
	z-index: 100;
	background-color: #ffffff;
}

#container {
	position: relative;
	top: 73px;
	width: 100%;
	z-index: 80;
}

#footer {
	width: 100%;
	height: 200px;
	z-index: 40;
}

/*-----------------------header-----------------------*/

.header_inner {
	width: 1280px;
	height: 73px;
	margin: 0 auto;
	text-align: center;
	/* background-color: rgb(113, 205, 228); */
}

#logo {
	float: left;
	width: 30%;
}

#logo>span {
	text-indent: -9999px;
	width: 181px;
	height: 73px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#logo>span>a {
	display: inline-block;
	width: 181px;
	height: 73px;
	background-image: url(../images/mydog_logo.PNG);
}


#gnb {
	float: left;
	width: 70%;
}

#gnb>.main_menu {
	overflow: hidden;
	width: 651px;
	height: 200px;
	padding-top: 16.5px;
	/* background-color: blue; */
}

#gnb>.main_menu>li {
	float: left;
}

#gnb>.main_menu>li>.depth {
	display: block;
	width: 217px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	/* background-color: rgb(60, 141, 173); */
}
#gnb>.main_menu>li>.depth:hover {
	box-sizing: border-box;
	border-bottom: 3px solid #000;
}
.sub_menu {
	display: none;
	height: 160px;
	background-color: rgb(211, 130, 24, 0.5);
}

.sub_menu>li {
}

.sub_menu>li>a {
	display: block;
	width: 217px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	/* background-color: rgb(175, 218, 139); */
}

.sub_menu>li>a:hover {
	border-bottom: 3px solid #000;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255, 0.6);
}

/* .menu_box { width: 100%; height: 160px; background-color: rgba(228, 204, 204, 0.7);} */


/*-----------------------footer-----------------------*/

.footer_inner {
	overflow: hidden;
	width: 1280px;
	height: 200px;
	margin: 0 auto;
	clear: both;
	content: '';
	display: block;
	padding: 2em 5% 2em 5%;
	/* background-color: rgb(168, 88, 88); */
}

.footer_top {
	width: 70%;
	height: 30px;
	padding-top: 10px;
}

.footer_top>ul {
	float: left;
	height: 20px;
	background-color: #fff;
}

.footer_top>ul>li {
	display: inline-block;
	height: 20px; 
	padding-right: 20px; 
	margin-right: 20px;
	font-weight: bold;
	border-right: 1px solid #000; 
}
.footer_top>ul>li:first-child {}
.footer_top>ul>li>a:first-child {}
.footer_top>ul>li:last-child {
	border: none;
}
.footer_top>ul>li>a {
	height: 20px;
	line-height: 20px;
}

/* .footer_bottom >footer_logo */

.footer_inner>.footer_logo {
	float: left;
	width: 166px;
	height: 32px;
	/* margin: 20px auto; */
}
.footer_inner>.footer_logo>.footer_logo_icon {
	display: block;
	text-indent: -9999px;
	width: 166px;
	height: 32px;
	background-position: 0,0;
	background-repeat: no-repeat;
	background-image: url(../images/footer_logo.png);
	background-color: #fff;
}
.footer_inner>.footer_logo>.footer_logo_icon>span {
	display: inline-block;
}
.footer_inner>.footer_logo>.footer_logo_icon>span>a {
	width: 100%;
}

.footer_infor {
	float: left;
	margin-left: 20px;
}
.footer_infor>address {
	display: inline-block;
	line-height: 2;
}
.footer_infor>address>span {
	display: inline-block;
	height: 70px;
	font-size: 15px;
	/* background-color: rgb(214, 123, 226); */
}

.footer_right {
	float: right;
	width: 200px;
	box-sizing: border-box;
	background-color: red;
}
.footer_right>.select {
	width: 200px;
	border: 1px solid #000;
}
.footer_right>.select>a.arrow {
	display: block;
	width: 200px;
	height: 35px;
	color: #000;
	text-align: center;
	line-height: 35px;
}
.footer_right>.select>.family_site {
	/* display: none; */
	width: 100%;
}
.footer_right>.select>.family_site>li {}
.footer_right>.select>.family_site>li>a {
	display: block;
	width: 200px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.footer_right>.select>.family_site>li:hover>a {
	background-color: #ea9a4d;
	opacity: 0.5;
	color: #000;
}



.copyright {
	display: block;
	margin: 20px auto;
}
.footer {
	width: 1920px;
	height: 40px;
	margin: 0 auto;
	clear: both;
	content: '';
	background-color: #ea9a4d;
	text-align: center;
}
.footer>p {
	display: inline-block;
	width: 1280px;
	height: 40px;
	line-height: 40px;
	font-size: small;
}






/* .footer_bottom {
	margin-top: 10px;
}
.footer_bottom>.footer_bottom_left {
	width: 170px;
	height: 32px;
	margin: 0 auto;
	clear:both;
}
.footer_bottom>.footer_bottom_left>.footer_logo {
	display: inline-block;
	text-indent: -9999px;
	width: 166px;
	height: 32px;
	background-position: 0,0;
	background-repeat: no-repeat;
	background-image: url(/images/footer_logo.png);
}
.footer_bottom>.footer_bottom_left>.footer_logo>a {
	width: 166px;
	height: 32px;
}

.footer_infor {
}
.footer_infor>address {
	float: left;
}
.footer_infor>address>span {
	display: block;
} */

