@charset "UTF-8";

/*-----------------------layout-----------------------*/

#wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
}

#header {
	position: fixed;
	width: 100%;
	height: 73px;
	z-index: 200;
	background-color: #ffffff;
}

#container {
	position: relative;
	width: 100%;
	z-index: 80;
}

#footer {
	width: 100%;
	height: 200px;
	z-index: 40;
}

/*-----------------------header-----------------------*/

.header_inner {
	width: 1280px;
	height: 73px;
	margin: 0 auto;
	text-align: center;
	/* background-color: rgb(113, 205, 228); */
}

#logo {
	float: left;
	width: 30%;
}

#logo>span {
	text-indent: -9999px;
	width: 181px;
	height: 73px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#logo>span>a {
	display: inline-block;
	width: 181px;
	height: 73px;
	background-image: url(../images/mydog_logo.PNG);
}


#gnb {
	float: left;
	width: 651px;
	overflow: hidden;
}

#gnb>.main_menu {
	overflow: hidden;
	width: 100%;
	padding-top: 16.5px;
}

#gnb>.main_menu>li {
	float: left;
}

#gnb>.main_menu>li>.depth {
	display: block;
	width: 217px;
	height: 56px;
	text-align: center;
	line-height: 56px;
}
#gnb>.main_menu>li>.depth:hover {
	box-sizing: border-box;
	border-bottom: 3px solid #000;
}
.sub_menu {
	display: none;
	height: 160px;
	background-color: rgb(211, 130, 24, 0.5);
}

.sub_menu>li {}

.sub_menu>li>a {
	display: block;
	width: 217px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.sub_menu>li>a:hover {
	border-bottom: 3px solid #000;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255, 0.6);
}



/*-----------------------footer-----------------------*/

.footer_inner {
	position: relative;
	overflow: hidden;
	width: 1280px;
	height: 200px;
	margin: 0 auto;
	clear: both;
	content: '';
	display: block;
	padding: 2em 5% 2em 5%;
	/* background-color: rgb(168, 88, 88); */
}

.footer_top {
	width: 70%;
	height: 30px;
}

.footer_top>ul {
	float: left;
	height: 20px;
	background-color: #fff;
}

.footer_top>ul>li {
	display: inline-block;
	height: 20px; 
	padding-right: 20px; 
	margin-right: 20px;
	font-weight: bold;
	border-right: 1px solid #000; 
}
.footer_top>ul>li:first-child {}
.footer_top>ul>li>a:first-child {}
.footer_top>ul>li:last-child {
	border: none;
}
.footer_top>ul>li>a {
	height: 20px;
	line-height: 20px;
}

/* .footer_bottom >footer_logo */
.footer_bottom {
	padding-top: 10px;
}
.footer_bottom>.footer_logo {
	float: left;
	width: 300px;
	height: 21px;
	margin-left: 50px;
}
.footer_bottom>.footer_logo>.footer_logo_icon {
	display: block;
	text-indent: -9999px;
	width: 200px;
	height: 21px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(../images/mydog_footer_logo.png);
	background-color: #fff;
}
.footer_bottom>.footer_logo>.footer_logo_icon>span {
	display: inline-block;
}
.footer_bottom>.footer_logo>.footer_logo_icon>span>a {
	width: 100%;
}

.footer_infor {
	float: left;
}
.footer_infor>address {
	display: inline-block;
	line-height: 2;
}
.footer_infor>address>span {
	display: inline-block;
	height: 70px;
	font-size: 15px;
}

.footer_right {
	position: absolute;
	top: 28px;
	right: 100px;
	float: right;
	width: 200px;
	box-sizing: border-box;
}
.footer_right>.select {
	width: 200px;
	border: 1px solid #000;
}
.footer_right>.select>a.arrow {
	display: block;
	width: 200px;
	height: 35px;
	color: #000;
	text-align: center;
	line-height: 35px;
}
.footer_right>.select>.family_site {
	display: none;
	width: 100%;
}
.footer_right>.select>.family_site>li {}
.footer_right>.select>.family_site>li>a {
	display: block;
	width: 200px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.footer_right>.select>.family_site>li:hover>a {
	background-color: #ea9a4d;
	color: #000;
}



.copyright {
	display: block;
	margin: 10px auto;
}
.footer {
	width: 1920px;
	height: 40px;
	margin: 0 auto;
	clear: both;
	content: '';
	background-color: #ea9a4d;
	text-align: center;
}
.footer>p {
	display: inline-block;
	width: 1280px;
	height: 40px;
	line-height: 40px;
	font-size: small;
}

/* top_btn */
#top_btn {
	display: none;
	position: fixed;
	right: 10%;
	bottom: 5%;
	z-index: 150;
}
#top_btn>a {
	display: block;
	width: 90px;
	height: 90px;
}



/* @media screen */
/* -----------------------------일반PC (1281~1600 / 1280px정렬)----------------------------- */
@media screen and (min-width: 1281px) and (max-width: 1600px) {
    
}
/* -----------------------------대형태블릿(769~1280)----------------------------- */
@media screen and (min-width: 769px) and (max-width: 1280px) {
    
}
/* -----------------------------중형태블릿(415~768)----------------------------- */
@media screen and (min-width: 415px) and (max-width: 768px) {
    
}
/* -----------------------------모바일(~414px)----------------------------- */
@media screen and (max-width: 414px) {
    
}
