@charset "UTF-8";

/*-----------------------main_container>#main_visual-----------------------*/

#main_visual {
    overflow: hidden;
    position: relative;
    width: 1920px;
    height: 1060px;
    margin: 0 auto;
}
#main_visual>.slide_img {
    position: relative;
    width: 100%;
    height: 1060px;
}
#main_visual>.slide_img>li {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}

#main_visual>.slide_img>li>img {
    display: block;
    width: 100%;
    height: 100%;
}

#main_visual>.slide_img>li>p {
    display: block;
}
#main_visual>.slide_img>li>.visual_txt {
    position: absolute;
    bottom: 300px;
    left: 1060px;
    width: 500px;
    height: 150px;
    color: #fff;
    font-weight: bold;
    line-height: 70px;
    font-size: 2rem;
    background-color: rgb(247, 247, 247, 0.5);
}


/*-----------------------#main_notice-----------------------*/
#section {
    width: 1920px;
    margin: 0 auto;
}
#main_notice {
    width: 1280px;
    height: 60px;
    line-height: 60px;
    margin: 10px auto;
    border: 3px solid rgb(185, 185, 185);
}
#main_notice>div {}
#main_notice>div>a {}
#main_notice>div>a>.notice_txt {
    display: block;
    font-size: 1.5rem;
}

/*-----------------------#mydog_infor_top-----------------------*/

#mydog_infor {
    width: 1280px;
    height: 700px;
    margin: 40px auto;
    background-color: #faf5e8;
}
#mydog_infor>.mydog_infor_top {
    width: 1280px;
    height: 400px;
    margin: 0 auto;
}
/*-----------------------.mydog_bold-----------------------*/
.main_txt>.mydog_bold {
    display: block;
    width: 1280px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 20px 0;
}
/* ----------------------------------------------------------- */

.mydog_infor_top {}
.mydog_detail_infor {
    position: relative;
    width: 1280px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    /* clear: both;
    content: ''; */
}
.infor_txt_wrap {
    position: relative;
    left: 160px;
    float: left;
    width: 300px;
    height: 150px;
    margin-right: 20px;
    /* background-color: rgb(167, 52, 115); */
}
.point_red_txt {
    display: inline;
    width: 300px;
    height: 65px;
    color: red;
    /* background-color: #fff; */
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.basic_txt {
    display: block;
    width: 300px;
    height: 100px;
    font-size: 1.5rem;
    padding-top: 10px;
    clear: both;
}

/* --------------------more_btn transition-------------------- */
.more_btn {
    width: 1280px;
    height: 30px;
    margin: 40px auto;
}
.more_btn>.more_btn_wrap {
    display: block;
    width: 102px;
    height: 32px;
    margin: 0 auto;
    transition-property: width, height, background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}

.more_btn_wrap:hover {
    width: 102px;
    height: 32px;
    background-color: rgb(211, 130, 24, 0.5);
}

.more_btn>.more_btn_wrap>a {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #000;
}
/* --------------------------------------------------------- */
.small_txt_top {
    display: inline-block;
    font-size: 1rem;
}

.small_txt_bottom {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 1rem;
}

/*-----------------------#mydog_apply-----------------------*/
#mydog_apply {
    position: relative;
    width: 1950px;
    height: 3200px;
    margin: 60px auto;
    /* background-color: rgb(178, 153, 223); */
}
#mydog_apply>.apply_left_girl {
    display: inline-block;
    text-indent: -9999px;
    width: 950px;
    height: 650px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../common/images/apply_left_girl.png);
}

#mydog_apply>.apply_left_txt_01 {
    float: right;
    width: 830px;
    height: 530px;
    text-align: left;
    padding: 60px;
    /* background-color: rgb(173, 123, 123); */
}
.apply_left_txt_01>.apply_txt_bold {
    display: block;
    font-weight: bold;
    font-size: 3rem;
    margin: 70px auto;
}
.apply_txt_normal {
    display: block;
    line-height: 70px;
    font-size: 1.5rem;
}

.apply_left_txt_01{}
.apply_left_txt_01>.more_btn{
    position: relative;
}
.apply_left_txt_01>.more_btn>.more_btn_wrap{
    position: absolute;
}
.apply_left_txt_01>.more_btn>.more_btn_wrap>a{}


/* 리트리버 img2 */
.apply_right_dog {
    position: absolute;
    top: 550px;
    right: 0;
    text-indent: -9999px;
    width: 848px;
    height: 1050px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../common/images/apply_right_dog.png);
}
.apply_right_img_txt_01 {
    position: relative;
    display: inline-block;
    width: 830px;
    height: 700px;
    text-align: right;
    padding: 60px;
}
.apply_right_img_txt_bold {
    display: block;
    font-weight: bold;
    font-size: 3rem;
    margin: 70px auto;
}
.apply_right_img_txt_normal {
    display: block;
    line-height: 70px;
    font-size: 1.5rem;
    /* background-color: rgb(243, 108, 108); */
}
.apply_right_img_txt_01>.more_right_btn {
    position: relative;
}
.more_right_btn_wrap {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 40px auto;
}
.more_right_btn_wrap>a {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #000;
}

/* 단체견학 신청 img3 */
.visit_img {
    position: relative;
    top: 60px;
}
/* .apply_right_img_txt_01에 po:r 찍음 */
.apply_left_visit {
    display: inline-block;
    text-indent: -9999px;
    width: 950px;
    height: 650px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../common/images/apply_left_park.png);
}
.visit_img>.apply_left_txt_01 {
    float: right;
    width: 830px;
    height: 530px;
    text-align: left;
    padding: 60px;
}
.visit_img>.more_btn {}


/* 자원봉사 신청 img4 */
.apply_right_walk {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    text-indent: -9999px;
    width: 840px;
    height: 1030px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../common/images/apply_right_walk.png);
}
.walk_img>.apply_right_img_txt_01 {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 830px;
    height: 700px;
    text-align: right;
    padding: 60px;
}

/*-----------------------#middle_txt-----------------------*/
#middle_txt {
    display: block;
    width: 1920px;
    height: 500px;
    /* background-color: rgb(143, 67, 67); */
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}
#middle_txt span {
    display: block;
    font-size: 200px;
    color: #d5d5d4;
    line-height: 1;
}
#middle_txt>.middle_txt_AND {
    font-size: 4rem;
}

/*-----------------------#dogshow-----------------------*/
#dogshow {
    width: 1920px;
    height: 331px;
}
.dogshow_bg {
    position: relative;
    display: block;
    width: 100%;
    height: 331px;
    margin-top: 200px;
    background-color: #d5d5d4;
}
.dogshow_bg>.fly_dog {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    text-indent: -9999px;
    width: 980px;
    height: 550px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../common/images/fly_dog.png);
}
.dogshow_wrap {
    position: relative;
    float: right;
    width: 900px;
    height: 331px;
    /* background: rgb(236, 179, 93); */
}
.dogshow_txt {
    position: absolute;
    top: -80px;
    width: 100%;
    height: 220px;
    /* background-color: rgb(54, 143, 179); */
}
.dogshow_txt>span {
    display: block;
    font-weight: bold;
}
.dogshow_txt>span:first-child {
    width: 500px;
    font-size: 6rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 50px 50px 0px #918e8e, 100px 100px 0px #b5b2b2;
}
.dogshow_txt>span:last-child {
    font-size: 1.5rem;
    line-height: 331px;
}

.dogshow_wrap>.more_btn {
    position: relative;
    display: inline-block;
    width: 900px;
    height: 220px;
}
.dogshow_wrap>.more_btn>.more_btn_wrap {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
}
.dogshow_wrap>.more_btn>.more_btn_wrap>a {
    display: block;
    width: 102px;
    height: 32px;
}

/*-----------------------#flower-----------------------*/
#flower {
    position: relative;
    width: 1920px;
    height: 610px;
    margin: 50px auto;
}
.flower_bg {
    display: block;
    text-indent: -9999px;
    width: 1920px;
    height: 610px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../common/images/flower_bg.png);
}
.flower_wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 900px;
    height: 610px;
    /* background-color: rgb(197, 149, 185); */
}
.flower_txt {
    position: relative;
    display: table-cell;
    height: 610px;
    line-height: 2;
    vertical-align: middle;
}
.flower_txt>.flower_bold {
    display: block;
    font-weight: bold;
    font-size: 4rem;
}
.flower_txt>.flower_normal {
    position: relative;
    display: block;
    font-size: 1.5rem;
}

.flower_more_btn {}
.flower_more_btn_wrap {
    position: absolute;
    left: 0;
    top: 434px;
    display: inline-block;
    width: 104px;
    height: 34px;
}
.flower_more_btn_wrap>a {
    display: block;
    width: 104px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 2px solid #000;
}

/*-----------------------#main_address-----------------------*/
#main_address {
    position: relative;
    width: 1920px;
}


.main_gradation {
    position: relative;
    display: block;
    text-indent: -9999px;
    width: 1920px;
    height: 427px;
    margin: 150px auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../common/images/main_gradation.png);
}

.gradation_dog {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    text-indent: -9999px;
    width: 400px;
    height: 586px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../common/images/gradation_dog.png);
}

.main_add_wrap {
    position: absolute;
    top: 0;
    left: 360px;
    width: 1280px;
    margin: 0 auto;
}
.infor_add_box {
    display: inline-block;
    width: 300px;
    height: 347px;
    margin-right: 20px;
    padding: 40px;
    /* background-color: rgb(41, 156, 209); */
}

.address_txt {
    display: block;
    font-weight: bold;
    font-size: 3rem;
    margin: 50px 0;
}

.infor_add_box>.phone {
    font-size: 3rem;
}
.address_sub_txt {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 60px;
    line-height: 2;
}

.address_btn {}
.address_btn>a {
    border-bottom: 3px solid #000;
}