@charset "UTF-8";


/*-----------------------#main_visual-----------------------*/
#main_visual .mainimg {
	background-image: url(../images/subpage1_mainvisual.png);
}

/* tab_box */
#tab_box {
    width: 1920px;
    padding-top: 40px;
}
#tab_box>ul.tab_btn {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
#tab_box>ul.tab_btn>li {
    float: left;
    width: 500px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#tab_box>.tab_btn>li>a {
    display: block;
    width: 500px;
    height: 50px;
}
#tab_box>.tab_btn>li>a.current {
    transition: all 0.8s;
    background-color: #d8d8d8;
}

#tab_box>div {
    display: none;
}
/* sub1_bg */
.sub1_bg {
    width: 1920px;
    height: 2022px;
    background-repeat: no-repeat;
    background-image: url(../images/sub1_bg.png);
}
/* 개요 첫번째 이미지 */
#tab_box>.tab_con1 {
    margin: 5% 0;
}
.summary_inner {
    position: relative;
    top: 9%;
    width: 1280px;
    margin: 0 auto;
}
.dog_img {
    display: block;
    width: 400px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url(../images/sub1_dog.jpg);
}
.Bdog_img {
    position: absolute;
    top: 550px;
    right: 0;
    display: block;
    background-color: red;
    width: 400px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url(../images/sub1_b_dog.jpg);
}
.girl_img {
    position: absolute;
    top: 1100px;
    left: 0;
    display: block;
    float: left;
    width: 400px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url(../images/sub1_girl.jpg);
}
.summary {
    width: 1280px;
    height: 600px;
    margin-left: 350px;
    padding-top: 100px;
}
.summary>.sum_txt {
    font-size: 23px;
    line-height: 3.5;
}
.summary>.sum_txt>.point_txt {
    font-weight: bold;
    font-size: 40px;
    color: #ea9a4d;
}

.summary_left {
    position: absolute;
    top: 180px;
    left: -738px;
}
.summary_left>.sum_txt {
    font-size: 23px;
    line-height: 4;
}
.summary_left>.sum_txt>.point_txt {
    font-weight: bold;
    font-size: 40px;
    color: #ea9a4d;
}
/* tab_con2 */
.tab_con2 {
    width: 100%;
    overflow: hidden;
    margin: 80px 0;
}
.tab_con2_inner {
    width: 86%;
    margin: 0 auto;
}
.sub2_history {
    float: left;
    width: 800px;
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/history.jpg);
}
.black_bg {
    width: 800px;
    height: 1200px;
    background-color: rgb(0, 0, 0, 0.3);
}
.history_txt {
    font-size: 3.5rem;
    padding-top: 488px;
    line-height: 2;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

/* .samsung_history */
.samsung_history {
    float: left;
}
.samsung_history>.history_wrap {
    width: 800px;
    height: 1200px;
    overflow-y: scroll;
    padding-left: 50px;
}
.tit_year {
    display: block;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 40px;
}
.history_wrap>ul {
    margin: 40px 0;
}
.history_wrap>ul>li {
}
.history_wrap>ul>li>.tit {
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
}
.history_wrap>ul>li>.txt {}